<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Actors</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewActorPage()">New Actor</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let actor of actors">
            <th scope="row">{{actor.id}}</th>
            <td>{{actor.firstName}}</td>
            <td>{{actor.lastName}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editActorPage(actor)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteActor(actor)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
